<nav class="navbar navbar-expand-lg navbar-dark px-3 py-3">
  <a href="/" class="navbar-brand">
    <h3><i class="bi bi-globe"></i><span> GeoAPI</span></h3>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#menu"
    aria-controls="menu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="menu">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item p-2">
        <a href="/info" class="btn nav-link">More Info</a>
      </li>
      <li class="nav-item p-2">
        <a href="/api/country" class="btn nav-link">Countries API</a>
      </li>
      <li class="nav-item p-2">
        <a href="/api/river" class="btn nav-link">Rivers API</a>
      </li>
    </ul>
  </div>
</nav>
